.page-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 4px !important;
}
a{
    text-decoration: none;
  }